
<%-
item = proc { |num, html|
  %|<li class="#{step == num ? "active" : "inactive"}">| + html + %|</li>|
}
-%>

<ol id="email-signup-progress">
 <%= item[1, p_("MultiAuth", "Input login info")] %>
 <%= item[2, p_("MultiAuth", "Confirm login info")] %>
 <%= item[3, p_("MultiAuth", "Pre-registration completed")] %>
 <%= item[4, p_("MultiAuth", "Registration confirmation")] %>
 <%= item[5, p_("MultiAuth", "Registration completed")] %>
</ol>
