
<%- @title = p_("MultiAuth", "Signup") -%>

<h1><%=h p_("MultiAuth", "Registration confirmation") %></h1>

<%= render(:partial => "progress", :locals => {:step => 4}) %>

<%- if @credential -%>
 <div><%=h p_("MultiAuth", "Valid activation token") %></div>
 <%- if @activated -%>
  <div><%=h p_("MultiAuth", "Activated") %></div>
 <%- else -%>
  <div><%=h p_("MultiAuth", "Inactivated") %></div>
  <table>
    <tr>
      <th><%=h s_("EmailCredential|Email") %></th>
      <td><%=h @credential.email %></td>
    </tr>
  </table>
  <%- form_tag(:action => "activate") { -%>
   <%= hidden_field_tag("activation_token", @credential.activation_token) %>
   <%= submit_tag(p_("MultiAuth", "Regist")) %>
  <%- } -%>
 <%- end -%>
<%- else -%>
 <div><%=h p_("MultiAuth", "Invalid activation token") %></div>
<%- end -%>
