
<%- @title = p_("MultiAuth", "Signup") -%>

<h1><%=h p_("MultiAuth", "Registration confirmation") %></h1>

<%= render(:partial => "progress", :locals => {:step => 2}) %>

<table>
  <tr>
    <th><%=h s_("EmailCredential|Email") %></th>
    <td><%=h @signup_form.email %></td>
  </tr>
  <tr>
    <th><%=h s_("EmailCredential|Password") %></th>
    <td><%=h @signup_form.masked_password %></td>
  </tr>
</table>

<%- form_tag(:action => "create") { -%>
  <div><%= submit_tag(p_("MultiAuth", "Register")) %></div>
<%- } -%>
