
<%- @title = p_("MultiAuth", "Delete email authentication credential.") -%>

<h1><%=h @title %></h1>

<div>
  <%=h p_("MultiAuth", "Delete email authentication credential.") %>
  <%=h p_("MultiAuth", "Are you sure?") %>
</div>

<table>
  <tr>
    <th><%=h s_("EmailCredential|Email") %></th>
    <td><%=h @email_credential.email %></td>
  </tr>
</table>

<%- form_tag(:action => "destroy") { -%>
  <div><%= submit_tag(p_("MultiAuth", "Delete")) %></div>
<%- } -%>
